<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="scara_r2c_hardware" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">

            <hardware>
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>scara_hardware/ScaraSimulatedHardwareInterface</plugin>
            </hardware>

            <joint name="joint1">
                <command_interface name="position" />
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint2">
                <command_interface name="position" />
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint3">
                <command_interface name="position" />
                    <param name="min">0</param>
                    <param name="max">0.3</param>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>

    </xacro:macro>

</robot>